<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD MongoDB</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <div class="container justify-content-center">
            <a class="navbar-brand" href="/pokemon">Pokemon</a>
            <a class="navbar-brand" href="/entrenador">Entrenador</a>
            <a class="navbar-brand" href="/ruta">Ruta</a>
        </div>
    </nav>